* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background-image: url(https://images4.alphacoders.com/106/106826.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #061a23;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

header {
    padding-top: 32px;
    height: calc(120px + 32px);
}
header div {
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #22ABD4 0%, #0D3445 100%);
    border-radius: 50%;
    padding: 3px;
    display: flex;

    transition: transform .4s;
}

header div:hover {
    transform: scale(1.1);
}

header div img {
    width: 100%;
    border-radius: 50%;
}

main {
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    display: grid;
    gap: 24px;
}

section {
    color: white;
    background-image: linear-gradient(90deg, #22ABD4 0%, #07132d 100%);
    padding-top: 6px;
    border-radius: 8px;
}

section div {
    background-color: #061a23;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2 {
    font-weight: 900;
    font-size: 24px;
    letter-spacing: -0.47px;
}

section p {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
}

section ul li {
    transition: transform .3s;
}

section ul li:hover {
    transform: scale(1.1)
}

section ul img {
    width: 90px;
    border-radius: 8px;
    border: 2px solid #07132d
}

.agradecimento {
    margin: auto;
}
.agradecimento span {
    color: #ffffff
}
.agradecimento a {
    text-decoration:none;
    color: #ffffff
}
/* Animation */

/*Passando animação, segundos de animação e delay*/
header div {
    animation: fromTop .7s .2s backwards; 
}

/*Passando animação, segundos de animação */
main section {
    animation: fromBottom .7s backwards;
}

main section:nth-child(1) {
    animation-delay: 0;
}

main section:nth-child(2) {
    animation-delay: .4s;
}

main section:nth-child(3) {
    animation-delay: .8s;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}